*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
 
}

.logo{
    width: 12%;
    height: 12%;
}

.card-img-top{
    width: 100%;
    height: 350px;
    object-fit: contain;
    border-radius: 40%;
}

.product_image{
    width: 150px;
    object-fit: contain;
}

/*.admin_image{
    width: 100px;
    object-fit: contain;
}*/